{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}
<div class="container mt-5">

    <h2 class="text-center mb-5">Our Team</h2>

    <div class="row justify-content-center">

        <!-- Member 1 -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <h5>Anupam Singh</h5>
                <p> Email: <a href="mailto:anupam.24bsa10229@vitbhopal.ac.in">anupam.24bsa10229@vitbhopal.ac.in</a></p>
                <p>GitHub: update soon</p>
                <p>LinkedIn: update soon</p>
            </div>
        </div>

        <!-- Member 2 -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <h5>Khushi Sharma</h5>
                <p> Email: <a href="mailto:khushi.24bsa10156@vitbhopal.ac.in">khushi.24bsa10156@vitbhopal.ac.in</a></p>
                <p>GitHub: <a href="https://github.com/8181khushi-bit
" target="_blank">View Github</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/khushi-sharma-26bb8b331?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">View Linkedin</a></p>
            </div>
        </div>

        <!-- Member 3 -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <h5>Shreya Mittal</h5>
                <p> Email: <a href="mailto:shreya.24bsa10056@vitbhopal.ac.in">shreya.24bsa10056@vitbhopal.ac.in</a></p>
                <p>GitHub: <a href="https://share.google/MKUM12stk098SbEnG" target="_blank">View Github</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/shreya-mittal-3411b8350" target="_blank">View Linkedin</a></p>
            </div>
        </div>

        <!-- Member 4 -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <h5>Anirudh Gupta</h5>
                <p> Email: <a href="mailto:anirudh.24bsa10219@vitbhopal.ac.in">anirudh.24bsa10219@vitbhopal.ac.in</a></p>
                <p><strong> 📞 Phone:</strong> 8815342916</p>
            </div>
        </div>

        <!-- Member 5 -->
        <div class="col-md-4 mb-4">
            <div class="card text-center shadow p-3">
                <h5>Soumyadeep Mondal</h5>
                <p> Email: <a href="mailto:soumyadeep.24bsa10018@vitbhopal.ac.in">soumyadeep.24bsa10018@vitbhopal.ac.in</a></p>
                <p><strong>📞 Phone:</strong> 9475413827</p>
            </div>
        </div>

    </div>
</div>

{% endblock body %}